<!-- inherits UNION Type - CORRECT -->
<pre>{{ vm.detail | json }}</pre>

@if (vm.detail.mode === 'UPDATE') {

  <!-- inherits UPDATE type - CORRECT -->
  <pre>{{ vm.detail | json }}</pre>

  <!-- access to id as we inherit UPDATE type -->
    <!-- PROBLEM:
    in my case:
    CORRECT `[id]` access without problem to `vm.detail.id`
    INCORRECT: (click)="onClick(vm.detail.id) can't access to id, as it did not recognize Detail Type:
    "TS2339: Property id does not exist on type Union
    Property id does not exist on type Create"

    TESTED on configuration:
    Webstorm Angular TS Plugin - Auto
    ENABLED Use types From server

    WebStorm 2024.3.4
    -->
  <button [id]="vm.detail.id" (click)="onClick(vm.detail.id)">Test</button>
  <p-button (onClick)="onClick(vm.detail.id)"/>
}


@let isUpdate = vm.detail.mode === 'UPDATE';

@if (isUpdate) {

  <!-- inherits UNION type - INCORRECT -->
  <pre>{{ vm.detail | json }}</pre>
}
